.bg-dark-light {
    background-color: #083B4C;
}

.my-h1 {
    font-size: 6em !important;
}

#numberWrapper {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
}

.box {
    width: calc(100% / 10 - 10px);
    height: calc(100% / 10 - 10px);
}